.Personal{width: 100%;height: 100%;}
#oul2{width: 100%;height: 44px;font-size: 18px;text-align: center;}
#oul2 li{float: left;height: 44px;line-height: 44px;padding-left: 15px;}
#oul2 li i{height: 44px;line-height: 44px;}
#oul2 li:last-child{float: right;padding-right: 15px;}
#oul2 li:nth-child(2){padding-left: 110px;}
.personPicter{width: 100%;height: 177px;background: #ff7050;border-bottom: 12px solid #f4f4f4;}
#persontop{width: 100%;height: 110px;border-bottom: 1px solid #ddd;}
.personPicter img{text-align: center;padding-top: 17px;}
.personPicter p{text-align: center;font-size: 18px;color: #ffffff;}
#div1{width: 50%;height: 67px;float: left;border-right: 1px solid #ddd;color: #ffffff;}
#div1 ul{float: left;text-align: center;padding-top: 15px;font-size: 14px;}
#div1 ul:first-child{padding-left: 10px;padding-right: 22px;}
#div2{width: 50%;height: 67px;float: left;color: #ffffff;}
#div2 ul{float: left;text-align: center;padding-top: 15px;font-size: 14px;}
#div2 ul:first-child{padding-left: 10px;padding-right: 22px;}
.div3{width: 100%;height: 45px;line-height: 45px;border-bottom: 12px solid #f4f4f4;}
.div3 ul li{float: left;}








