	<div class="Personal">
	  <ul  id="oul2"> 
	  	  <li><a><i class="fa fa-angle-left fa-2x"></i> </a></li>
	  	  <li><a>个人中心</a></li>
	  	  <li><a>退出</a></li>
	  </ul>


<div  class="personPicter">
	  <div id="persontop">
	  	     <img src="../../img/5.png" />
	         <p>在路上</p>
	  </div>
	  
	  <div id="div1">
			<ul>
			  	   <li>0</li>
			  	   <li>收藏的宝贝</li>
			  </ul>
			  <ul>
			  	   <li>0</li>
			  	   <li>收藏的店铺</li>
			  </ul>
	  </div>
	  
	  <div id="div2">
			<ul>
				   <li>0</li>
			  	   <li>优惠卷</li>
			  </ul>
			  <ul>
			  	   <li><i class="fa fa-map-marker fa-lg"></i></li>
			  	   <li>收货地址</li>
			  </ul>
	  </div>	
</div>

<div class="div3">
	  <ul>
	  	  <li><img  src="../../img/6.png"/></li>
	  	  <li>成为分享达人</li>
	  	  <li>分享赚钱<span><i class="fa fa-angle-right fa-lg"></i></span></li>
	  </ul>
</div>





</div>