<div class="fashion" ui-view>
<div class="cate_warp"></div>
    <div class="title">
    <h3>正在流行</h3>
</div>
    <ul class="invogue">
        <li ng-repeat="item1 in arr1">
            <img src="{{item1.image}}">
            <p>{{item1.title}}</p>
        </li>
    </ul>
    <div class="cate_warp"></div>
    <div class="title">
        <h3>正在流行</h3>
    </div>
    <ul class="invogue2">
        <li ng-repeat="item1 in arr2">
            <img src="{{item1.image}}">
            <p>{{item1.title}}</p>
        </li>
    </ul>

</div>
