.Collectiontop{width: 100%;height: 100%;}
.divtop{width: 100;height: 44px;}
.oul5{width: 100%;height: 44px;line-height:44px;border-bottom: 1px solid #ccc;}
.oul5 li{width:33%;float: left;text-align: center;}
.oul5 li:nth-child(2){font-size: 20px;}
.oul5 li:last-child i{height: 44px;line-height:44px;}
.Collectionpicter{width: 100%;text-align: center;}
.Collectionpicter li img{width: 121px;margin-top: 52px;}
.Collectionpicter li{font-size: 16px;}
.Collectionpicter li:last-child span i{font-size: 25px;padding-left: 2%;}
